---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div>
  <div class="jumbotron p-3 text-white bg-dark">
    <div class="col-md-8 col-lg-6 px-0">
      <a class="wholeDivLink" href="{{ blogposts[blogposts.length - 1].url | url }}" aria-label="Read more on {{ blogposts[blogposts.length - 1].title }}"></a>
      <h1 class="display-4 font-italic">{{blogposts[blogposts.length - 1].title}}</h1>
      {# <p class="lead my-3">{% excerpt collections.post[collections.post.length - 1] %}</p> #}
      <a href="{{ blogposts[blogposts.length - 1].url | url }}" aria-label="Read more on {{ blogposts[blogposts.length - 1].title }}">Read more</a>
    </div>
  </div>
</div>

{% set maxPosts = blogposts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>
{{ blogposts | debugger }}
{% set postslist = blogposts | head(-3) %}
{% set postslistCounter = blogposts | length %}
{% include "postslist.njk" %}