---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = blogposts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>
{{ blogposts | debugger }}
{% set postslist = blogposts | head(-3) %}
{% set postslistCounter = blogposts | length %}
{% include "postslist.njk" %}
